################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.sqlite
/Client/bin/Debug/netcoreapp2.2
*.dtbcache
/.vs/Orleans/v16
